* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    color: #333;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
.main {
    background: url('https://images.wallpaperscraft.com/image/piano_silhouette_space_156662_1920x1080.jpg');
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .form {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);  
    }

}

.form .heading {
    font-size: 2rem;
}

.form .login-with {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.login-with > a > i {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    background: currentColor;
    padding: 10px;
    color: white;
    opacity: 1;
}

.login-with > a > i:hover{
    opacity: 0.9;
}

i.fab.fa-facebook-square {
    background: #2962ff;
}

i.fab.fa-google{
    background: tomato;
}

i.fab.fa-instagram-square {
    background: salmon;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.remember{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

input#checkbox1 {
    margin-right: 5px;
    margin-top: 2px;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
    display: flex;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #2962ff;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #2962ff;
    margin-top: 16px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 1;
}

.form-submit:hover {
    opacity: 0.9;
}

.spacer {
    margin-top: 24px;
}

.dont-have-account{
    margin-top: 16px;
    font-size: 14px;
}

.account-register{
    text-decoration: none;
    color: #2962ff;
    position: relative;
}
 
.account-register:before{
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #2962ff;
    bottom: 0;
    right: 0;
    transition: all 0.6s ease;
}

.account-register:hover:before{
    width: 100%;
    left: 0;
}

.term-service{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.a-hover{
    text-decoration: none;
    color: #2962ff;
    opacity: 1;
}
.a-hover:hover{
    opacity: 0.9;
}
.checked-box{
    margin-left: 5px;
}